h1 {
	font-size: 35px;
}
a {

}

body {
	font-family: Varela Round, Geneva, Arial;
}

.interface {
	text-align: center;
	padding: 20px;
}

a.button {
	display: inline-block;
	color: white;
	background-color: lightblue;
	text-decoration: none;
	font-size: 20px;
	border-radius: 10px;
	text-transform: uppercase;
	padding: 15px 25px;
	transition: background-color 300ms;
}

a.button2 {
	display: inline-block;
	color: lightblue;
	text-decoration: none;
	font-size: 25px;
	text-transform: uppercase;
	padding-left: 7px;
	padding-right: 7px;
	transition: color 300ms;	
}

a.button:hover {
	background-color: pink;
}

a.button2:hover {
	color: pink;
}

.left {
	background-color: lightgoldenrodyellow;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
}

.right {
	background-color: lightblue;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
}

.cat {
	position: absolute;
	left: 50%;
	width: 400px;
	height: 400px;
	bottom: 0%;
	margin-left: -200px;
	background:  url('../img/kitty1A.png') no-repeat;
}

.yarn {
	position: absolute;
	left: 15%;
	width: 75px;
	height: 75px;
	top: 100px;
	margin-left: -37.5px;
	background:  url('../img/yarn.png') no-repeat 0 0; 
	transition: top 2500ms;
}

.lets-play {
	position: absolute;
	bottom:  350px;
	left: 60%;
	background: url('../img/lets-play.png') no-repeat 0 0;
	width: 190px;
	height: 70px;
	display: none;
}

.lets-play.show {
	display: block;
}

.zzz {
	position: absolute;
	bottom:  300px;
	left: 65%;
	background: url('../img/zzz.png') no-repeat 0 0;
	width: 190px;
	height: 70px;
	display: none;
}

.zzz.show {
	display: block;
}

.help {
	position: absolute;
	bottom:  300px;
	left: 10%;
	background: url('../img/help.png') no-repeat 0 0;
	width: 190px;
	height: 70px;
	display: none;
}

.help.show {
	display: block;
}

.thank-you {
	position: absolute;
	bottom:  350px;
	left: 5%;
	background: url('../img/thank-you.png') no-repeat 0 0;
	width: 190px;
	height: 70px;
	display: none;
}

.thank-you.show {
	display: block;
}

body.body-state1 .yarn,
body.body-state2 .yarn {
	transition: none;
}

body.body-state5 .yarn,
body.body-state7 .yarn,
body.body-state8 .yarn,
body.body-state12 .yarn {
	top: 85%;
}

body.body-state11 .yarn {
	display: none;
}

.mouse {
	position: absolute;
	left: 85%;
	width: 75px;
	height: 75px;
	top: 100px;
	margin-left: -37.5px;
	background:  url('../img/mouse.png') no-repeat 0 0; 
	transition: top 2500ms;
}

body.body-state1 .mouse,
body.body-state2 .mouse {
	transition: none;
}

body.body-state6 .mouse,
body.body-state9 .mouse,
body.body-state10 .mouse,
body.body-state13 .mouse {
	top:  85%;
}

body.body-state11 .mouse {
	display: none;
}

/* cat images */

body.body-state7 .cat,
body.body-state9 .cat,
body.body-state12 .cat,
body.body-state13 .cat {
	background-image:  url('../img/kitty3A.png');
}

body.body-state8 .cat,
body.body-state10 .cat {
	background-image:  url('../img/kitty4A.png');
}

body.body-state11 .cat {
	background-image:  url('../img/kitty2A.png');
}

.state1,
.state2,
.state3,
.state4,
.state5,
.state6,
.state7,
.state8,
.state9,
.state10,
.state11,
.state12,
.state13 {
	display: none;	
}

body.body-state1 .state1{display:  block;}
body.body-state2 .state2{display:  block;}
body.body-state3 .state3{display:  block;}
body.body-state4 .state4{display:  block;}
body.body-state5 .state5{display:  block;}
body.body-state6 .state6{display:  block;}
body.body-state7 .state7{display:  block;}
body.body-state8 .state8{display:  block;}
body.body-state9 .state9{display:  block;}
body.body-state10 .state10{display:  block;}
body.body-state11 .state11{display:  block;}
body.body-state12 .state12{display:  block;}
body.body-state13 .state13{display:  block;}